div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: rgba(255, 255, 255, 0.178);
    background-color: rgb(76, 78, 180);
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

h1{
    text-align: center;
}
li{
    font-family: 'Times New Roman', Times, serif;
    color: rgba(29, 29, 214, 0.37);

}